.cl-cache
**/__pycache__
.vscode
docs/sitemap.xml.gz
docs/*

benchmark-scripts/results/
models/
results/

use-cases/gst_capi/docker-compose_capi_yolov5.yml
use-cases/gst_capi/docker-compose_capi_yolov5_ensemble.yml
use-cases/gst_capi/docker-compose_capi_face_detection.yml
use-cases/demos/docker-compose_demo_classification.yml
use-cases/demos/docker-compose_demo_instance_segmentation.yml
use-cases/demos/docker-compose_demo_object_detection.yml
smoke-tests/smoke_tests_output.log
