.cl-cache
**/__pycache__
.vscode
docs/sitemap.xml.gz
docs/*

benchmark-scripts/results/
models/
results/

use-cases/gst_capi/docker-compose_replicas_capi_yolov5.yml
use-cases/gst_capi/docker-compose_replicas_capi_yolov5_ensemble.yml
use-cases/gst_capi/docker-compose_replicas_capi_face_detection.yml
