#
# Copyright (C) 2024 Intel Corporation.
#
# SPDX-License-Identifier: Apache-2.0
#


 ## Current Developer Toolbox doesn't support environment files, make sure to remove any files or environment variables starting with $
version: '3.7'
services:
  camera-simulator:
    container_name: camera-simulator
    image: aler9/rtsp-simple-server
    ports:
      - "8554:8554"
  camera-simulator0:
    image: cam-sim:dev
    container_name: camera-simulator0
    entrypoint: ffmpeg
    command: "
        -nostdin
        -re -stream_loop -1
        -i /sample-media/00-coca-cola-4465029-1920-15-bench.mp4
        -c copy
        -f rtsp
        -rtsp_transport
        tcp
        rtsp://camera-simulator:8554/camera_0
        "
    depends_on:
      - camera-simulator
  OvmsClientGrpcPython:
    image: grpc_python:dev
    deploy:
      mode: replicated
      replicas: 1 
      placement:
        constraints:
          - node.hostname == worker1   
    entrypoint: /app/entrypoint.sh --model_name instance-segmentation-security-1040    
    environment:
      - CONTAINER_NAME="grpc_python0"
      - GRPC_PORT=9001
      - INPUTSRC=rtsp://camera-simulator:8554/camera_0
      - TARGET_DEVICE=CPU
      - OVMS_INIT_TIME_IN_SECOND=10
      - RENDER_MODE=0 #RENDER_MODE=1 will work only after running xhost +local:docker
      - DISPLAY=$DISPLAY            
      - DETECTION_MODEL_NAME=instance-segmentation-security-1040      
    volumes:
      - /tmp:/tmp/results
    depends_on:
      - ovmsServer
  ovmsServer:
    image: ovms-server:dev
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.hostname == manager
    container_name: ovms-server0
    restart: always
    ports:
      - '9001:9001'
      - '9002:9002'
    volumes:
      - ../models:/models
    environment:
      - DEVICE=CPU
      - PLATFORM="core"
      - server_cl_cache_dir=/home/pipeline-server/.cl-cache
