# Copyright © 2025 Intel Corporation. All rights reserved.
# SPDX-License-Identifier: Apache-2.0
tqdm==4.66.3
absl-py==1.4.0
rich==13.7.1
tensorflow==2.19.0
tensorflow-datasets==4.6.0
scikit-learn==1.5.0
opencv-python==4.10.0.84
pillow==10.3.0
streamlit==1.37.0
streamlit-aggrid==0.3.4.post3
streamlit-webrtc==0.47.1
tensorflow-metadata==1.13.0
notebook==7.2.2